html {
  box-sizing: border-box;
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: #646464;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-spacing: 1px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

header {
  background: #fefefe;
  opacity: 0.95;

  .main-nav a {
    padding: 1rem;
    font-size: 24px;
    position: relative;
    color: #646464;
    letter-spacing: 1px;
  }
}

.main-nav a:after {
  position: absolute;
  top: 3rem;
  left: 1rem;
  width: 80%;
  content: '';
  height: 2px;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.15s ease;
}

nav a:hover:after,
nav a.nuxt-link-active:after {
  background-color: #49a3df;
}

p,
span,
li,
a {
  font-size: 20px;
}

a {
  color: #49a3df;
}

p {
  margin-bottom: 1.5rem;
}

ul {
  list-style: disc;
  padding-left: 1.5rem;
}

h1 {
  /*color: #35495e;*/
  text-transform: uppercase;
  //font-weight: 700;
  font-size: 38px;
  /*font-weight: 300;*/
  //line-height: 1;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
  @media all and (min-width: 450px) {
    font-size: 52px;
  }
}

h2 {
  /*color: #35495e;*/
  font-size: 22px;
  //font-weight: 200;
  letter-spacing: 1px;
  @media all and (min-width: 450px) {
    font-size: 40px;
  }
}

h3{
  line-height: 1.1;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  @media all and (min-width: 450px) {
    font-size: 26px;
  }
}

.min-h-screen {
  min-height: calc((100vh) - 6.7rem);
}

.justify-evenly {
  justify-content: space-evenly;
}

footer {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #2e2e2e;
  color: #b1b1b1;

  a,
  a:active,
  a:focus {
    color: #b1b1b1;
  }

  .svg-inline--fa {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}

.override-link-color {
  a {
    color: #646464;
  }
}

// fonts
/* work-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/work-sans-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('/fonts/work-sans-v7-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/work-sans-v7-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/fonts/work-sans-v7-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('/fonts/work-sans-v7-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('/fonts/work-sans-v7-latin-regular.svg#WorkSans') format('svg'); /* Legacy iOS */
}

/* work-sans-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/work-sans-v7-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('/fonts/work-sans-v7-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/work-sans-v7-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/fonts/work-sans-v7-latin-700.woff')
      format('woff'),
    /* Modern Browsers */ url('/fonts/work-sans-v7-latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('/fonts/work-sans-v7-latin-700.svg#WorkSans')
      format('svg'); /* Legacy iOS */
}
