---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="Nicht gefunden">
  <section class="section text-center">
    <h1 class="section-title">Nicht gefunden</h1>
    <p class="mb-8 text-[20px]">Diese Seite existiert nicht mehr.</p>
    <a href="/" class="text-[20px]">Zur Startseite</a>
  </section>
</BaseLayout>
